@using Microsoft.AspNetCore.Http
@inject HttpContext _httpContext

<ul class="navbar-nav">
@if (_httpContext.User.Identity is {IsAuthenticated: true })
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Competition" asp-action="CreateCompetition">Create competition </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Competition" asp-action="GetCompetitions">Get all </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
    </li>
}
</>