@model drift.Models.Dto.CompetitionApplicationDto

@{
    ViewData["Title"] = "Participate";
}

<h1>Учавствовать</h1>
@if (Model.PaidError)
{
    <div class="alert-danger">Должна быть оплата!</div>
}
@if (Model.ParticipantNumberError)
{
    <div class="alert-danger">Номер участника занят</div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Participate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompetitionId" />
            <div class="form-group">
                <div>Ваш автомобиль:</div>
                @Html.DisplayFor(x => x.CarModelAndName)<br/>
                <label asp-for="ParticipantNumber" class="control-label"></label>
                <input class="form-control" type="number" min="1" max="100" asp-for="ParticipantNumber" />
                <span asp-validation-for="ParticipantNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
